$main-color: #00C8E7;
$main-color__light: rgba(0, 200, 231, .3);

$font-color: #3f3f3f;
$font-color__sub: rgba(0, 0, 0, .6);

$key-color: #ef899a;
$key-color__light: rgba(239, 137, 154, .3);

$key-color_sub: #8dd051;
$key-color_sub__light: rgba(141, 208, 81, .3);


// rgba(0, 200, 231, 0.3) 00C8E7
// rgba(4, 162, 215, 0.6) 04A2D7

// linear-gradient(to right, rgba(110, 210, 214, 0.1), rgba(104, 167, 232, 0.7));
// linear-gradient(to right, rgba(189, 143, 248, 0.7), rgba(130, 201, 222, 0.7));
// linear-gradient(to right, rgba(0, 189, 201, 0.7), rgba(6, 153, 220, 0.7));
